body {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  width: 1200px;
}

h1 {
  font-size: 60px;
  color: #000000;
  font-weight: bold;
  line-height: 60px;
}

h2 {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
  line-height: 41px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo-a {
  float: left;
  background-color: green;
}

li {
  list-style: none;
}

.main-menu li:nth-child(1) {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

.main-menu li:nth-child(2) {
  float: left;
  margin-right: 5px;
}

.main-menu li:nth-child(2) {
  float: left;
}

.menu-catolog {
  float: left;
  min-height: 1em;
  width: 29em;
  background-color: red;
}
/*случайно получил решение*/
.container-right {
  float: right;
  background-color: green;
  width: 261px;
}

.container-right * {
  float: left;
  margin-right: 5px;
}

.info {
  float: right;
  width: 267px;
  min-height: 35px;
  background-color: red;
}

.raspberry-free {
  float: left;
  width: 560px;
  height: 230px;
  background-color: green;
  font-size: 18px;
}

.chocolate-free {
  float: right;
  width: 560px;
  height: 230px;
  background-color: yellow;
  font-size: 18px;
}

.stock-section {
    background-color: blue;
    width: auto;
}

.ice-cream {
  float: left;
  width: 267px;
  min-height: 324px;
  background-color: red;
}

.products {
  background-color: olive;
  font-size: 16px;
  min-height: 329px;
  width: auto;
}

.info-of-the-corporation-section {
  font-size: 16px;
  min-height: 309px;
  width: auto;
  background-color: yellow;
}

.left-content {
  float: left;
  width: 539px;
  min-height: 181px;
  background-color: red;
}

.new-info a {
  font-size: 24px;
}

.right-content {
  float: right;
  width: 539px;
  min-height: 181px;
  background-color: blue;
}

.news-container {
  width: auto;
  min-height: 220px;
  background-color: orange;
}

.new-info {
  float: left;
  width: 560px;
  min-height: 220px;
  background-color: blue;
}

.signature {
  float: right;
  width: 560px;
  min-height: 220px;
  background-color: red;
}

.map {
  background-color: yellow;
  height: 430px;
  width: auto;
}

.map-pin {
  width: 80px;
  height: 140px;
  display: inline-block;
}

.address {
  float: right;
  background-color: green;
  min-height: 306px;
  width: 304px;
}

.social {
  float: left;
  background-color: yellow;
  min-height: 103px;
  width: 253px;
}

.left-a {
  float: left;
  background-color: red;
  min-height: 103px;
  width: 253px;
}

.right-a {
  float: left;
  background-color: orange;
  min-height: 103px;
  width: 253px;
}

.developer {
  float: left;
  background-color: green;
  min-height: 103px;
  width: 253px;
}

.breadcrumbs {
  float: left;
  width: 1200px;
  min-height: 1em;
  background-color: #42f4f1;
}

.breadcrumbs li::after {
  content: " » "
}

.breadcrumbs li.none-list-style::after {
  content: ""
}

.breadcrumbs li {
  float: left;
  margin-right: 5px;
}

.paginator {
  float: right;
  width: auto;
  min-height: 1em;
  background-color: yellow;
}

.select-block {
  float: left;
  width: auto;
  background-color: blue;
  min-height: 1em;
  margin-right: 5px;
}

.range-1 {
  float: left;
  width: auto;
  min-height: 1em;
  background-color: yellow;
  margin-right: 5px;
}

.radio-1 {
  float: left;
  width: auto;
  min-height: 1em;
  background-color: orange;
  margin-right: auto;
}

.checkbox-1 {
  float: left;
  width: auto;
  min-height: 1em;
  background-color: red;
  margin-right: 5px;
}

.select-1-address {
  width: 860px;
}

.submit-1 {
  float: left;
  margin-left: 5px;
}
